body{
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('img/bg.png');
    background-size: auto;
}
/*nav*/
.navbar{
    background-color: #F23867;
    /*box-shadow: 10px 10px 50px rgb(0, 0, 0, 0.2);*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: auto;
    width: 80%;

    padding: 20px 10%;
    border-radius: 0px 0px 100px 100px;
    font-size: 16px;
    font-weight: 600;
}
.navbar-logo{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
}
.navbar-logo > a >img{
    width: 180px;
    height: auto;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-left:auto;
    margin-right:0;
}
.navbar-left > a, .navbar-right > a{
    align-self: center;
    margin: 5px 10px;
    margin-bottom: 0px;
    text-decoration: none;
    color: whitesmoke;
}
.navbar-left > a:hover, .navbar-right > a:hover{
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid white;
}

@media only screen and (max-width: 960px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }
    .navbar-logo{
        justify-content: center;
        align-self: center;
        margin: 5px;
    }
    .navbar-left{
        flex-direction: row;
        justify-content: center;
    }
    .navbar-right{
        margin: auto;
        margin-left: 0px; margin-right: 0px;
        flex-direction: row;
        justify-content: center;
    }

    .navbar-left > a:hover, .navbar-right > a:hover {
        border-bottom: none;
    }
}


/*header*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: auto;
    margin-top: 50px;margin-bottom: 50px;
    width: 90%;
    text-align: left;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}
.header-text > h5{
    margin: 0px;
    color:#F23867;
}
.header-text > h1{
    margin: 1px;
    font-size: 64px;
}
.header > img{
    align-self: center;
    width: 50%;
    height: 50%;
}
.header-text > h4{
    margin-bottom: 10px;
}
.header-text > a{
    font-size: 18px;
    width: 150px;

    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    background-color: #F23867;
    padding: 15px;
    color: white;
}
.header-text > a:hover{
    text-decoration: none;
    border: 0px solid white;
    background-color: #002C4F;
    color: white;
}
/*responsive header*/
@media only screen and (max-width: 960px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .header-text{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .header-text > a{
        margin: auto;
        font-size: 18px;
        padding: 10px;

    }
    .header-text > h1{
        font-size: 48px;
    }
    .header-text > h4{
        font-size: 16px;
    }
    .header > img{
        width: 75%;
        height: auto;
    }
}


/*content*/
.content{
    margin: auto;
    margin: 25px 0px;
    text-align: center;
    width: 100%;

    /*box-shadow: 10px 10px 50px rgb(0, 0, 0, 0.2);*/
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    padding: 5px 35px;
    margin: 80px 0px;
}
.about-text{
    text-align: left;
    align-self: center;
    padding-right: 10% ;
}
.about-text > p{
    color: #F23867;
}
.about-text > h1, .about-text > p{
    margin: 0px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.services-row{
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services-box{
    align-self: center;
    margin: auto;
    width: 300px;
    padding: 20px;

    color: black;
}
.services-box > img{
    width: 200px;
    height: auto;
}
.services-box > a{
    text-decoration: none;
    border: 0px solid white;
    border-radius: 25px;
    background-color: #F23867;
    padding: 5px 15px;
    color: white;
}
.services-box > a:hover{
    text-decoration: none;
    border: 0px solid white;
    background-color: #002C4F;
    color: white;
}
/*responsive header*/
@media only screen and (max-width: 960px){
    .about{
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .about > img{
        width: 75%;
        height: auto;
        margin: auto;
    }
    .about-text{
        padding-right: 0px;
        text-align: center;
        margin: auto;
    }
    .about-text > h4{
        font-size: 16px;
    }
    .services-row{
        flex-direction: column;
        justify-content: center;
    }
    .services-box{
        margin: 25px 0px;
    }
}


/*footer*/
.footer{
    width: 100%;
    padding: 10px;
    background-color: #002C4F;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.copyright{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;

    font-size: 9px;
}
.copyright > img{
    margin: auto;
    width: 200px;
    height: auto;
}
